<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

  <style>
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="navbar-brand" aria-current="page" th:text="${'Welcome, ' + user.firstName}">User Full name</div>
    <a class="navbar-brand" aria-current="page" th:href="@{/logout}">Logout</a>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a th:href="@{${'/dashboard/' + userId}}">Appointments</a>

  <a th:if="${permissions.hasConsultantView}" th:href="@{${'/consultants-view/' + userId}}">Consultants</a>

  <!--  <a th:if="${permissions.hasConsultantView}" href="#">Create user</a>-->
</div>

<div id="Appointment">
  <div th:if="${isError}">
    <div class="alert alert-danger" th:text="${errorMsg}">Invalid Email or Password</div>
  </div>

  <h3 class="text-center text-white pt-5">Create Appointment</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6" style="margin-top: -2%">
        <div id="login-box" class="col-md-12" style="margin-top: -2%">

          <form
              id="login-form" class="form"
              th:action="@{${'/confirm-appointment?jobSeeker=' + userId + '&consultant=' + consultant.id}}" method="post"
              th:object="${appointmentDTO}"
          >

            <h3 class="text-center text-info" style="margin-top: -2%">Make Appointment</h3>

            <br>
            <br>

            <div class="form-group">
              <label class="text-info">Consultant:</label>
              <br>
              <label th:text="${consultant.firstName + ' ' + consultant.lastName}">user</label>
              <br>
            </div>

            <div class="form-group">
              <label class="text-info">Available Days: </label>
              <br>
              <label th:if="${#lists.size(consultantAvailabilities)==0}">Consultant not available, Please select another consultant!</label>
              <table class="table table-bordered table-hover" th:if="${#lists.size(consultantAvailabilities)>0}">
                <thead class="table-dark">
                <tr>
                  <th>Day</th>
                  <th>From time</th>
                  <th>To time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "availability : ${consultantAvailabilities}">
                  <td th:text = "${availability.day}"></td>
                  <td th:text = "${availability.availableFrom}"></td>
                  <td th:text = "${availability.availableTo}"></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <label for="day" class="text-info">Date:</label><br>
              <label>
                <input th:field="*{appointmentDate}" type="date" name="day"  id="day"/>
              </label>
            </div>
            <div class="form-group">
              <label for="From" class="text-info">From:</label><br>
              <input th:field="*{fromTime}" type="text" name="password" id="From" class="form-control">
            </div>
            <div class="form-group">
              <label for="To" class="text-info">To:</label><br>
              <input th:field="*{toTime}" type="text" name="password" id="To" class="form-control">
            </div>

            <div class="form-group">

              <input th:if="${#lists.size(consultantAvailabilities)>0}" type="submit" name="CreateAccount" class="btn btn-info btn-md" value="Confirm Appointment">
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>
