<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <title>Title</title>

    <style>

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div class="navbar-brand" aria-current="page" th:text="${'Welcome, ' + user.firstName}">User Full name</div>
        <a class="navbar-brand" aria-current="page" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a th:href="@{${'/dashboard/' + userId}}">Appointments</a>

    <a th:if="${permissions.hasConsultantView}" th:href="@{${'/consultants-view/' + userId}}">Consultants</a>
    <a th:if="${permissions.hasAdminView}" th:href="@{${'/users?user=' + userId + '&view=admin'}}">Sys Admins</a>
    <a th:if="${permissions.hasManagerView}" th:href="@{${'/users?user=' + userId + '&view=manager'}}">Managers</a>

    <a th:if="${permissions.canCreateUsers}" th:href="@{${'/register-user?user=' + userId + '&userRole=consultant'}}">Create Consultant</a>
    <a th:if="${permissions.canCreateUsers}" th:href="@{${'/register-user?user=' + userId + '&userRole=admin'}}">Create Admin</a>
    <a th:if="${permissions.canCreateUsers}" th:href="@{${'/register-user?user=' + userId + '&userRole=manager'}}">Create Manager</a>

    <a th:if="${permissions.canAddAvailability}" th:href="@{${'/consultant-availability?user=' + userId}}">My Availability</a>
</div>

<div id="Signup">
    <div th:if="${isError}">
        <div class="alert alert-danger" th:text="${errorMsg}">Invalid Email or Password</div>
    </div>

    <h3 class="text-center text-white pt-5">Signup form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6" style="margin-top: -2%">
                <div id="login-box" class="col-md-12" style="margin-top: -2%">

                    <form
                        id="login-form" class="form"
                        th:action="@{${'/confirm-register?user=' + userId + '&userRole=' + userRole}}" method="post"
                        th:object="${registerDTO}"
                    >

                        <h3 class="text-center text-info" style="margin-top: -2%" th:text="${'Register ' + userDisplayRole}">Register User</h3>

                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" th:field="*{username}" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Firstname" class="text-info">Firstname:</label><br>
                            <input type="text" th:field="*{firstName}" name="password" id="Firstname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Lastname" class="text-info">Lastname:</label><br>
                            <input type="text" th:field="*{lastName}" name="password" id="Lastname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Address" class="text-info">Address:</label><br>
                            <input type="text" th:field="*{address}" name="password" id="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Email" class="text-info">Email:</label><br>
                            <input type="text" th:field="*{email}" name="password" id="Email" class="form-control">
                        </div>

                        <div class="form-group" th:if="${userRole=='consultant'}">
                            <label for="CountryList" class="text-info">Country: </label>
                            <select id="CountryList" name="cars" th:field="*{country}">
                                <option
                                    th:each="country : ${countries}" th:text="${country.country}"
                                    th:value="${country.id}"
                                >
                                </option>
                            </select>

                            <label for="SectorList" class="text-info">Sector: </label>
                            <select id="SectorList" name="cars" th:field="*{sector}">
                                <option
                                    th:each="sector : ${sectors}" th:text="${sector.sector}"
                                    th:value="${sector.id}"
                                >
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="ResetPassword" class="text-info">Password:</label><br>
                            <input type="text" th:field="*{password}" name="password" id="ResetPassword" class="form-control">
                        </div>
                        <div class="form-group">

                            <input type="submit" name="CreateAccount" class="btn btn-info btn-md" value="submit">
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>
