<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <title>Title</title>
</head>
<body>
<div id="Appointment">
    <h3 class="text-center text-white pt-5">Make Appointment</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6" style="margin-top: -2%">
                <div id="login-box" class="col-md-12" style="margin-top: -2%">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info" style="margin-top: -2%">Make Appointment</h3>
                        <div class="form-group">
                            <label  class="text-info">Consultant:</label>
                            <label  class="text-info">Mr:</label>
                            <label  class="text-info">user</label><br>
                        </div>
                        <div class="form-group">
                            <label for="day" class="text-info">Date:</label><br>
                            <label>
                                <input type="date" name="day"  id="day"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="From" class="text-info">From:</label><br>
                            <input type="text" name="password" id="From" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="To" class="text-info">To:</label><br>
                            <input type="text" name="password" id="To" class="form-control">
                        </div>

                        <div class="form-group">

                            <input type="submit" name="CreateAccount" class="btn btn-info btn-md" value="Make Appoinment">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
